@use './variables' as *;

.calculator {
  min-height: inherit;

  display: grid;
  place-items: center;

  animation: fade-in 800ms ease-in-out;

  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;

    color: hsl($color-dark-grayish-cyan);
    letter-spacing: 6px;
  }

  article {
    padding: 1.4rem;
    margin-block-start: 1.8rem;
    border-radius: 1.4rem;

    max-width: 30rem;
    margin-inline: auto;
    background-color: hsl($color-white);

    @media (min-width: 40em) {
      display: flex;
      gap: 2rem;
      justify-content: space-between;

      margin-block-start: 4rem;
      max-width: 55rem;
    }
  }
}

.calculator-bill {
  label {
    color: hsl($color-dark-grayish-cyan);
  }
}

.calculator-input-container {
  padding: 1rem;
}

.calculator-input {
  display: flex;
  align-items: center;

  img {
    position: absolute;
    margin-left: 0.5rem;

    width: 0.7rem;
  }

  input {
    width: 100%;
    background-color: hsl($color-very-light-grayish-cyan);

    border: 0;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    margin-block: 0.3rem;

    text-align: right;
    font-size: 1.5rem;
    color: hsl($color-dark-cyan);

    @media (max-width: 40em) {
      margin-block-start: 0.5rem;
    }
  }
}

.calculator-tip {
  h4 {
    margin-block-start: 2rem;
    color: hsl($color-dark-grayish-cyan);
  }
}

.calculator-tip-btns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;

  margin-block-start: 0.75rem;

  @media (min-width: 40em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    border: 0;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;

    background-color: hsl($color-dark-cyan);
    font-size: 1.4rem;
    color: hsl($color-white);

    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:last-child {
      background-color: hsl($color-very-light-grayish-cyan);
      color: hsl($color-dark-grayish-cyan);
    }

    &:hover {
      background-color: hsl($color-strong-cyan);
      color: hsl($color-dark-cyan);
      transform: scale(1.02);
    }
  }
}

.calculator-people {
  margin-block-start: 2rem;
  color: hsl($color-dark-grayish-cyan);
}

.calculator-output-container {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;

  flex: 1;

  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 0.9rem;

  background-color: hsl($color-dark-cyan);

  button {
    border: 0;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;

    font-size: 1.3rem;
    color: hsl($color-dark-cyan);
    text-transform: uppercase;
    background-color: hsl($color-strong-cyan);

    cursor: pointer;

    @media (min-width: 40em) {
      // margin-top: 6rem;
    }
  }

  @media (max-width: 40em) {
    margin-block-start: 2rem;
  }

  @media (min-width: 40em) {
    padding: 3rem;
  }
}

.calculator-output {
  display: flex;
  gap: 2rem;
  justify-content: space-between;

  h5 {
    display: flex;
    flex-direction: column;

    span:first-child {
      font-size: 1rem;
      color: hsl($color-white);
    }

    span:last-child {
      color: hsl($color-grayish-cyan);
    }
  }

  p {
    font-size: 2rem;
    color: hsl($color-strong-cyan);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
