$color-strong-cyan: 172 67% 45%;
$color-dark-cyan: 183 100% 15%;
$color-dark-grayish-cyan: 186 14% 43%;
$color-grayish-cyan: 184 14% 56%;
$color-light-grayish-cyan: 185 41% 84%;
$color-very-light-grayish-cyan: 189 41% 97%;
$color-white: 0 0% 100%;
$color-red: 0 100% 50%;
