@use './variables' as *;
@use './utilities';
@use './calculator';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: hsl($color-light-grayish-cyan);
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
